In [19]:
# This notebook is to run the predicted price using VAR Model on the mandatory task's algorithm.
# First, we run mandatory task algorithm
%run ../mandatory_task/MiniModels.ipynb

# <font color = 'brown'> Bonus Task (On Test Period)</font>

Below, we are running the main task's algorithms on test period based on:
1. Actual Price
2. Predicted Price using Vector Auto-Regression
3. Predicted Price using ARMA

## <font color = 'brown'> 1. Actual Price</font>

In [20]:
test_start_period = '2021-07-01 00:00:00'
test_end_period   = '2021-08-15 23:30:00'

df_test = df[(df['Time'] >= test_start_period) & (df['Time'] <= test_end_period)]

In [21]:
actual_price = df_test['Price'].reset_index(drop = True)

In [22]:
# Run on the main model
Test_Prediction = main(n = 17, df = df_test)

In [ ]:
# Add sandwich model

In [23]:
CalculateRevenue(Test_Prediction)

5860635.067351179

In [91]:
Test_Prediction.to_excel('../../preprocessed_data/Mandatory_Test_MainModel.xlsx')

## <font color = 'brown'>2. Predicted Price on VAR</font>

In [24]:
# Read file
df_VAR = pd.read_excel('../../prediction_data/VAR_predictions_log.xlsx')

In [25]:
df_VAR.columns = ['Time', 'Price']
df_VAR['Time'] = df_VAR['Time'].astype('datetime64[ns]')

In [26]:
time = df_VAR['Time']

In [27]:
# MA = MovingAverage(17, df = df_VAR)
# RM = Maximisation(MA, df = df_VAR)
# LR = LossRemoval(RM)
# SM = Stationary(LR, df = df_VAR)
# SA = ShiftAction(SM)

In [29]:
# Running mandatory task's algorithm using predicted price
VAR_Prediction = main(n = 17, df = df_VAR)

In [30]:
VAR_Prediction

,Time,Price,Status,Actual,Restrict,Opening Capacity,Closing Capacity,Period,ROCNACharge,ROCNADischarge,Shift
0,2021-07-01 00:30:00,45.901292,Charge,-150.0,135.0,0.0,135.0,1,1.0,NaN,False
1,2021-07-01 01:00:00,64.415976,Do Nothing,-0.0,0.0,135.0,135.0,2,NaN,1.0,True
2,2021-07-01 01:30:00,67.715684,Discharge,121.5,-135.0,135.0,0.0,3,2.0,1.0,True
3,2021-07-01 02:00:00,43.141678,Do Nothing,-0.0,0.0,0.0,0.0,3,2.0,1.0,True
4,2021-07-01 02:30:00,39.571492,Do Nothing,-0.0,0.0,0.0,0.0,3,2.0,1.0,True
...,...,...,...,...,...,...,...,...,...,...,...
2155,2021-08-14 22:00:00,58.635315,Do Nothing,-0.0,0.0,580.0,580.0,782,166.0,NaN,False
2156,2021-08-14 22:30:00,52.664372,Do Nothing,-0.0,0.0,580.0,580.0,782,166.0,NaN,False
2157,2021-08-14 23:00:00,50.100266,Do Nothing,-0.0,0.0,580.0,580.0,782,166.0,NaN,False
2158,2021-08-14 23:30:00,41.263355,Do Nothing,-0.0,0.0,580.0,580.0,782,166.0,NaN,False
2159,2021-08-15 00:00:00,44.978704,Do Nothing,-0.0,0.0,580.0,580.0,782,166.0,NaN,False

In [82]:
# Uncomment this if we are only using MainModel
#VAR_Prediction['Price'] = actual_price

In [83]:
# CalculateRevenue(VAR_Prediction)

4432015.445977503

In [31]:
# Save -> to be sent to gil
VAR_Prediction.to_excel('../../prediction_data/VAR_Prediction_MainModel.xlsx')

## <font color = 'brown'>3. Predicted Price on ARMA</font>

In [35]:
# Preprocessing
df_ARIMA = pd.read_excel('../../prediction_data/ARIMA_predictions.xlsx')
df_ARIMA.columns = ['Actual Price', 'Predicted Price']
df_ARIMA['Time'] = time

In [36]:
df_ARIMA = df_ARIMA[['Predicted Price', 'Time']]

In [37]:
df_ARIMA.columns = ['Price', 'Time']
df_ARIMA['Time'] = df_ARIMA['Time'].astype('datetime64[ns]')
df_ARIMA = df_ARIMA[['Time', 'Price']]

In [38]:
ARIMA_Prediction = main(n = 17, df = df_ARIMA)

In [39]:
ARIMA_Prediction

,Time,Price,Status,Actual,Restrict,Opening Capacity,Closing Capacity,Period,ROCNACharge,ROCNADischarge,Shift
0,2021-07-01 00:30:00,86.648190,Do Nothing,-0.0,0.0,0.0,0.0,1,1.0,NaN,True
1,2021-07-01 01:00:00,79.544752,Do Nothing,-0.0,0.0,0.0,0.0,1,1.0,NaN,True
2,2021-07-01 01:30:00,87.232014,Do Nothing,-0.0,0.0,0.0,0.0,1,1.0,NaN,True
3,2021-07-01 02:00:00,67.978892,Do Nothing,-0.0,0.0,0.0,0.0,1,1.0,NaN,True
4,2021-07-01 02:30:00,83.347320,Do Nothing,-0.0,0.0,0.0,0.0,1,1.0,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...
2156,2021-08-14 22:30:00,120.369142,Do Nothing,-0.0,0.0,580.0,580.0,1209,309.0,NaN,False
2157,2021-08-14 23:00:00,108.510558,Do Nothing,-0.0,0.0,580.0,580.0,1209,309.0,NaN,False
2158,2021-08-14 23:30:00,85.123126,Do Nothing,-0.0,0.0,580.0,580.0,1209,309.0,NaN,False
2159,2021-08-15 00:00:00,45.348283,Do Nothing,-0.0,0.0,580.0,580.0,1209,309.0,NaN,False
2160,NaT,45.342830,Do Nothing,-0.0,0.0,580.0,580.0,1209,309.0,NaN,False

In [59]:
# Save
ARIMA_Prediction.to_excel('../../prediction_data/ARIMA_Prediction_MainModel.xlsx')