In [2]:
%run ../mandatory_task/MainModel.ipynb

# <font color = 'brown'> Bonus Task </font>

### <font color = 'brown'> Mandatory Task on Test Period </font>

In [44]:
test_start_period = '2021-07-01 00:00:00'
test_end_period   = '2021-08-15 23:30:00'

df_test = df[(df['Time'] >= test_start_period) & (df['Time'] <= test_end_period)]

In [45]:
actual_price = df_test['Price'].reset_index(drop = True)

In [35]:
Test_Prediction = main(n = 17, df = df_test)

In [36]:
CalculateRevenue(Test_Prediction)

5860635.067351177

In [91]:
Test_Prediction.to_excel('../../preprocessed_data/Mandatory_Test_MainModel.xlsx')

### <font color = 'brown'>Vector Auto-Regression </font>

In [46]:
# Read file
df_VAR = pd.read_excel('../../prediction_data/VAR_predictions_log.xlsx')

In [47]:
df_VAR.columns = ['Time', 'Price']
df_VAR['Time'] = df_VAR['Time'].astype('datetime64[ns]')

In [48]:
time = df_VAR['Time']

In [49]:
# MA = MovingAverage(17, df = df_VAR)
# RM = Maximisation(MA, df = df_VAR)
# LR = LossRemoval(RM)
# SM = Stationary(LR, df = df_VAR)
# SA = ShiftAction(SM)

In [50]:
# Running mandatory task's algorithm using predicted price
VAR_Prediction = main(17, df = df_VAR)

In [51]:
VAR_Prediction

,Time,Price,Status,Actual,Restrict,Opening Capacity,Closing Capacity,Period,ROCNACharge,ROCNADischarge,Shift
0,2021-07-01 00:00:00,45.901292,Do Nothing,-0.0,0.0,0.0,0.0,1,1.0,NaN,True
1,2021-07-01 00:30:00,56.490789,Do Nothing,-0.0,0.0,0.0,0.0,1,1.0,NaN,True
2,2021-07-01 01:00:00,69.569596,Do Nothing,-0.0,0.0,0.0,0.0,1,1.0,NaN,True
3,2021-07-01 01:30:00,68.062152,Do Nothing,-0.0,0.0,0.0,0.0,1,1.0,NaN,True
4,2021-07-01 02:00:00,40.896315,Do Nothing,-0.0,0.0,0.0,0.0,1,1.0,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...
2156,2021-08-14 22:00:00,58.635315,Do Nothing,-0.0,0.0,580.0,580.0,787,167.0,NaN,False
2157,2021-08-14 22:30:00,52.664372,Do Nothing,-0.0,0.0,580.0,580.0,787,167.0,NaN,False
2158,2021-08-14 23:00:00,50.100266,Do Nothing,-0.0,0.0,580.0,580.0,787,167.0,NaN,False
2159,2021-08-14 23:30:00,41.263355,Do Nothing,-0.0,0.0,580.0,580.0,787,167.0,NaN,False
2160,2021-08-15 00:00:00,44.978704,Do Nothing,-0.0,0.0,580.0,580.0,787,167.0,NaN,False

In [82]:
# Uncomment this if we are only using MainModel
#VAR_Prediction['Price'] = actual_price

In [83]:
# CalculateRevenue(VAR_Prediction)

4432015.445977503

In [52]:
# Save -> to be sent to gil
VAR_Prediction.to_excel('../../prediction_data/VAR_Prediction_MainModel.xlsx')

### <font color = 'brown'>ARMA</font>

In [53]:
# Preprocessing
df_ARIMA = pd.read_excel('../../prediction_data/ARIMA_predictions.xlsx')
df_ARIMA.columns = ['Actual Price', 'Predicted Price']
df_ARIMA['Time'] = time

In [54]:
df_ARIMA

            Actual Price  Predicted Price                Time
0    2021-07-01 00:00:00        86.648190 2021-07-01 00:00:00
1    2021-07-01 00:30:00        79.544752 2021-07-01 00:30:00
2    2021-07-01 01:00:00        87.232014 2021-07-01 01:00:00
3    2021-07-01 01:30:00        67.978892 2021-07-01 01:30:00
4    2021-07-01 02:00:00        83.347320 2021-07-01 02:00:00
...                  ...              ...                 ...
2156 2021-08-14 22:00:00       120.369142 2021-08-14 22:00:00
2157 2021-08-14 22:30:00       108.510558 2021-08-14 22:30:00
2158 2021-08-14 23:00:00        85.123126 2021-08-14 23:00:00
2159 2021-08-14 23:30:00        45.348283 2021-08-14 23:30:00
2160 2021-08-15 00:00:00        45.342830 2021-08-15 00:00:00

[2161 rows x 3 columns]

In [55]:
df_ARIMA = df_ARIMA[['Predicted Price', 'Time']]

In [56]:
df_ARIMA.columns = ['Price', 'Time']
df_ARIMA['Time'] = df_ARIMA['Time'].astype('datetime64[ns]')
df_ARIMA = df_ARIMA[['Time', 'Price']]

In [57]:
ARIMA_Prediction = main(17, df = df_ARIMA)

In [58]:
ARIMA_Prediction

,Time,Price,Status,Actual,Restrict,Opening Capacity,Closing Capacity,Period,ROCNACharge,ROCNADischarge,Shift
0,2021-07-01 00:00:00,86.648190,Do Nothing,-0.0,0.0,0.0,0.0,1,1.0,NaN,True
1,2021-07-01 00:30:00,79.544752,Do Nothing,-0.0,0.0,0.0,0.0,1,1.0,NaN,True
2,2021-07-01 01:00:00,87.232014,Do Nothing,-0.0,0.0,0.0,0.0,1,1.0,NaN,True
3,2021-07-01 01:30:00,67.978892,Do Nothing,-0.0,0.0,0.0,0.0,1,1.0,NaN,True
4,2021-07-01 02:00:00,83.347320,Do Nothing,-0.0,0.0,0.0,0.0,1,1.0,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...
2156,2021-08-14 22:00:00,120.369142,Do Nothing,-0.0,0.0,580.0,580.0,1209,309.0,NaN,False
2157,2021-08-14 22:30:00,108.510558,Do Nothing,-0.0,0.0,580.0,580.0,1209,309.0,NaN,False
2158,2021-08-14 23:00:00,85.123126,Do Nothing,-0.0,0.0,580.0,580.0,1209,309.0,NaN,False
2159,2021-08-14 23:30:00,45.348283,Do Nothing,-0.0,0.0,580.0,580.0,1209,309.0,NaN,False
2160,2021-08-15 00:00:00,45.342830,Do Nothing,-0.0,0.0,580.0,580.0,1209,309.0,NaN,False

In [59]:
# Save
ARIMA_Prediction.to_excel('../../prediction_data/ARIMA_Prediction_MainModel.xlsx')