In [1]:
# This notebook is to run the predicted price using VAR Model on the mandatory task's algorithm.
# First, we run mandatory task algorithm
%run OptimisationAlg.ipynb

# <font color = 'brown'> Bonus Task (On Test Period)</font>

Below, we are running the main task's algorithms on test period based on:
1. Actual Price
2. Predicted Price using Vector Auto-Regression
3. Predicted Price using ARMA

In [15]:
# Obtain the actual price
df = pd.read_excel('../../preprocessed_data/testing_data.xlsx')

In [18]:
actual_price = df['Regions VIC Trading Price ($/MWh)']

## <font color = 'brown'>2. Predicted Price on VAR</font>

In [24]:
# Read file
df_VAR = pd.read_excel('../../prediction_data/VAR_predictions_log.xlsx')

In [25]:
df_VAR.columns = ['Time', 'Price']
df_VAR['Time'] = pd.to_datetime(df_VAR['Time'])

In [26]:
time_t = df_VAR['Time']

In [27]:
df_VAR

                    Time      Price
0    2021-07-01 00:30:00  45.901292
1    2021-07-01 01:00:00  64.415976
2    2021-07-01 01:30:00  67.715684
3    2021-07-01 02:00:00  43.141678
4    2021-07-01 02:30:00  39.571492
...                  ...        ...
2155 2021-08-14 22:00:00  58.635315
2156 2021-08-14 22:30:00  52.664372
2157 2021-08-14 23:00:00  50.100266
2158 2021-08-14 23:30:00  41.263355
2159 2021-08-15 00:00:00  44.978704

[2160 rows x 2 columns]

In [28]:
VAR_Prediction = SandwichModel(df_VAR)

Calculating First Step
It took 5.232676267623901 seconds for First Step
#######################

Calculating Second Step
It took 35.01722598075867 seconds for Second Step
#######################

Calculating Final Step
It took 2.7998030185699463 seconds for Third Step
#######################

In total cooking time took 43.04984903335571 seconds

In [29]:
VAR_Prediction.to_excel('../../prediction_data/VAR_Prediction_MainModel.xlsx')

In [21]:
# Calculate the revenue by replacing price with actual price
VAR_Prediction['Price'] = actual_price

In [23]:
print(f"Total Revenue for VAR model on training set is : {pm.computeRevenue(VAR_Prediction)}")

Total Revenue for VAR model on training set is : 4681595.705736717

## <font color = 'brown'>3. Predicted Price on ARMA</font>

In [30]:
# Preprocessing
df_ARIMA = pd.read_excel('../../prediction_data/ARIMA_predictions.xlsx')
df_ARIMA.columns = ['Actual Price', 'Predicted Price']
df_ARIMA['Time'] = time_t

In [31]:
df_ARIMA = df_ARIMA[['Predicted Price', 'Time']]

In [32]:
df_ARIMA.columns = ['Price', 'Time']
df_ARIMA['Time'] = df_ARIMA['Time'].astype('datetime64[ns]')
df_ARIMA = df_ARIMA[['Time', 'Price']]

In [33]:
df_ARIMA = df_ARIMA.loc[0:2159]

In [34]:
# Run using mandatory task algorithm
ARIMA_Prediction = SandwichModel(df_ARIMA)

Calculating First Step
It took 7.520076751708984 seconds for First Step
#######################

Calculating Second Step
It took 222.6300699710846 seconds for Second Step
#######################

Calculating Final Step
It took 4.472929000854492 seconds for Third Step
#######################

In total cooking time took 234.6232898235321 seconds

In [35]:
ARIMA_Prediction

,Time (UTC+10),Regions VIC Trading Price ($/MWh),Raw Power (MW),Market Dispatch (MWh),Opening Capacity (MWh),Closing Capacity (MWh)
0,2021-07-01 00:30:00,86.648190,-0.0,-0.0,0.0,0.0
1,2021-07-01 01:00:00,79.544752,-0.0,-0.0,0.0,0.0
2,2021-07-01 01:30:00,87.232014,-0.0,-0.0,0.0,0.0
3,2021-07-01 02:00:00,67.978892,-0.0,-0.0,0.0,0.0
4,2021-07-01 02:30:00,83.347320,-0.0,-0.0,0.0,0.0
...,...,...,...,...,...,...
2155,2021-08-14 22:00:00,135.088449,300.0,135.0,390.0,240.0
2156,2021-08-14 22:30:00,120.369142,300.0,135.0,240.0,90.0
2157,2021-08-14 23:00:00,108.510558,180.0,81.0,90.0,0.0
2158,2021-08-14 23:30:00,85.123126,-0.0,-0.0,0.0,0.0
2159,2021-08-15 00:00:00,45.348283,-0.0,-0.0,0.0,0.0

In [36]:
# Save
ARIMA_Prediction.to_excel('../../prediction_data/ARIMA_Prediction_MainModel.xlsx')

In [37]:
# Calculate the revenue by replacing price with actual price
ARIMA_Prediction['Price'] = actual_price

In [38]:
print(f"Total Revenue for ARIMA model on training set is : {pm.computeRevenue(ARIMA_Prediction)}")

Total Revenue for ARIMA model on training set is : 6421582.014186269