In [1]:
# This notebook is to run the predicted price using VAR Model on the mandatory task's algorithm.
# First, we run mandatory task algorithm
%run OptimisationAlg.ipynb

# <font color = 'brown'> Bonus Task (On Test Period)</font>

Below, we are running the main task's algorithms on test period based on:
1. Actual Price
2. Predicted Price using Vector Auto-Regression
3. Predicted Price using ARMA

## <font color = 'brown'> 1. Actual Price</font>

In [ ]:
test_start_period = '2021-07-01 00:00:00'
test_end_period   = '2021-08-15 23:30:00'

df_test = df[(df['Time'] >= test_start_period) & (df['Time'] <= test_end_period)]

In [ ]:
actual_price = df_test['Price'].reset_index(drop = True)

In [ ]:
# Run on the main model
Test_Prediction = main(n = 17, df = df_test)

In [ ]:
# Add sandwich model

In [ ]:
CalculateRevenue(Test_Prediction)

In [ ]:
Test_Prediction.to_excel('../../preprocessed_data/Mandatory_Test_MainModel.xlsx')

## <font color = 'brown'>2. Predicted Price on VAR</font>

In [2]:
# Read file
df_VAR = pd.read_excel('../../prediction_data/VAR_predictions_log.xlsx')

In [3]:
df_VAR.columns = ['Time', 'Price']
df_VAR['Time'] = df_VAR['Time'].astype('datetime64[ns]')

In [4]:
time = df_VAR['Time']

In [5]:
df_VAR

                    Time      Price
0    2021-07-01 00:30:00  45.901292
1    2021-07-01 01:00:00  64.415976
2    2021-07-01 01:30:00  67.715684
3    2021-07-01 02:00:00  43.141678
4    2021-07-01 02:30:00  39.571492
...                  ...        ...
2155 2021-08-14 22:00:00  58.635315
2156 2021-08-14 22:30:00  52.664372
2157 2021-08-14 23:00:00  50.100266
2158 2021-08-14 23:30:00  41.263355
2159 2021-08-15 00:00:00  44.978704

[2160 rows x 2 columns]

In [6]:
df = SandwichModel(df_VAR)

AttributeError: 'Series' object has no attribute 'time'

In [ ]:
# MA = MovingAverage(17, df = df_VAR)
# RM = Maximisation(MA, df = df_VAR)
# LR = LossRemoval(RM)
# SM = Stationary(LR, df = df_VAR)
# SA = ShiftAction(SM)

In [ ]:
# Running mandatory task's algorithm using predicted price
VAR_Prediction = main(n = 17, df = df_VAR)

In [ ]:
VAR_Prediction

In [ ]:
# Uncomment this if we are only using MainModel
#VAR_Prediction['Price'] = actual_price

In [ ]:
# CalculateRevenue(VAR_Prediction)

In [ ]:
# Save -> to be sent to gil
VAR_Prediction.to_excel('../../prediction_data/VAR_Prediction_MainModel.xlsx')

## <font color = 'brown'>3. Predicted Price on ARMA</font>

In [ ]:
# Preprocessing
df_ARIMA = pd.read_excel('../../prediction_data/ARIMA_predictions.xlsx')
df_ARIMA.columns = ['Actual Price', 'Predicted Price']
df_ARIMA['Time'] = time

In [ ]:
df_ARIMA = df_ARIMA[['Predicted Price', 'Time']]

In [ ]:
df_ARIMA.columns = ['Price', 'Time']
df_ARIMA['Time'] = df_ARIMA['Time'].astype('datetime64[ns]')
df_ARIMA = df_ARIMA[['Time', 'Price']]

In [ ]:
ARIMA_Prediction = main(n = 17, df = df_ARIMA)

In [ ]:
ARIMA_Prediction

In [ ]:
# Save
ARIMA_Prediction.to_excel('../../prediction_data/ARIMA_Prediction_MainModel.xlsx')