In [4]:
# This notebook is to run the predicted price using VAR Model on the mandatory task's algorithm.
# First, we run mandatory task algorithm
%run OptimisationAlg.ipynb

# <font color = 'brown'> Bonus Task (On Test Period)</font>

Below, we are running the main task's algorithms on test period based on:
1. Actual Price
2. Predicted Price using Vector Auto-Regression
3. Predicted Price using ARMA

## <font color = 'brown'>2. Predicted Price on VAR</font>

In [5]:
# Read file
df_VAR = pd.read_excel('VAR_predictions_log.xlsx')

In [6]:
df_VAR.columns = ['Time', 'Price']
df_VAR['Time'] = pd.to_datetime(df_VAR['Time'])

In [7]:
time_t = df_VAR['Time']

In [8]:
df_VAR

                    Time      Price
0    2021-07-01 00:30:00  45.901292
1    2021-07-01 01:00:00  64.415976
2    2021-07-01 01:30:00  67.715684
3    2021-07-01 02:00:00  43.141678
4    2021-07-01 02:30:00  39.571492
...                  ...        ...
2155 2021-08-14 22:00:00  58.635315
2156 2021-08-14 22:30:00  52.664372
2157 2021-08-14 23:00:00  50.100266
2158 2021-08-14 23:30:00  41.263355
2159 2021-08-15 00:00:00  44.978704

[2160 rows x 2 columns]

In [9]:
VAR_Prediction = SandwichModel(df_VAR)

Calculating First Step
It took 7.580909013748169 seconds for First Step
#######################

Calculating Second Step
It took 55.72854709625244 seconds for Second Step
#######################

Calculating Final Step
It took 5.508527755737305 seconds for Third Step
#######################

In total cooking time took 68.81810188293457 seconds

In [21]:
VAR_Prediction

,Time (UTC+10),Regions VIC Trading Price ($/MWh),Raw Power (MW),Market Dispatch (MWh),Opening Capacity (MWh),Closing Capacity (MWh)
0,2021-07-01 00:30:00,45.901292,-300.000000,-150.000000,0.0,135.0
1,2021-07-01 01:00:00,64.415976,-0.000000,-0.000000,135.0,135.0
2,2021-07-01 01:30:00,67.715684,270.000000,121.500000,135.0,0.0
3,2021-07-01 02:00:00,43.141678,-88.888889,-44.444444,0.0,40.0
4,2021-07-01 02:30:00,39.571492,-300.000000,-150.000000,40.0,175.0
...,...,...,...,...,...,...
2155,2021-08-14 22:00:00,58.635315,-0.000000,-0.000000,0.0,0.0
2156,2021-08-14 22:30:00,52.664372,-0.000000,-0.000000,0.0,0.0
2157,2021-08-14 23:00:00,50.100266,-0.000000,-0.000000,0.0,0.0
2158,2021-08-14 23:30:00,41.263355,-0.000000,-0.000000,0.0,0.0
2159,2021-08-15 00:00:00,44.978704,-0.000000,-0.000000,0.0,0.0

In [ ]:
# Uncomment this if we are only using MainModel
#VAR_Prediction['Price'] = actual_price

In [ ]:
# CalculateRevenue(VAR_Prediction)

In [22]:
VAR_Prediction.to_excel('VAR_Prediction_MainModel.xlsx')

## <font color = 'brown'>3. Predicted Price on ARMA</font>

In [10]:
# Preprocessing
df_ARIMA = pd.read_excel('ARIMA_predictions.xlsx')
df_ARIMA.columns = ['Actual Price', 'Predicted Price']
df_ARIMA['Time'] = time_t

In [11]:
df_ARIMA = df_ARIMA[['Predicted Price', 'Time']]

In [12]:
df_ARIMA.columns = ['Price', 'Time']
df_ARIMA['Time'] = df_ARIMA['Time'].astype('datetime64[ns]')
df_ARIMA = df_ARIMA[['Time', 'Price']]

In [16]:
df_ARIMA = df_ARIMA.loc[0:2159]

In [17]:
# Run using mandatory task algorithm
ARIMA_Prediction = SandwichModel(df_ARIMA)

Calculating First Step
It took 12.328252077102661 seconds for First Step
#######################

Calculating Second Step
It took 251.11324381828308 seconds for Second Step
#######################

Calculating Final Step
It took 5.37850284576416 seconds for Third Step
#######################

In total cooking time took 268.8201241493225 seconds

In [19]:
ARIMA_Prediction

,Time (UTC+10),Regions VIC Trading Price ($/MWh),Raw Power (MW),Market Dispatch (MWh),Opening Capacity (MWh),Closing Capacity (MWh)
0,2021-07-01 00:30:00,86.648190,-0.0,-0.0,0.0,0.0
1,2021-07-01 01:00:00,79.544752,-0.0,-0.0,0.0,0.0
2,2021-07-01 01:30:00,87.232014,-0.0,-0.0,0.0,0.0
3,2021-07-01 02:00:00,67.978892,-0.0,-0.0,0.0,0.0
4,2021-07-01 02:30:00,83.347320,-0.0,-0.0,0.0,0.0
...,...,...,...,...,...,...
2155,2021-08-14 22:00:00,135.088449,300.0,135.0,390.0,240.0
2156,2021-08-14 22:30:00,120.369142,300.0,135.0,240.0,90.0
2157,2021-08-14 23:00:00,108.510558,180.0,81.0,90.0,0.0
2158,2021-08-14 23:30:00,85.123126,-0.0,-0.0,0.0,0.0
2159,2021-08-15 00:00:00,45.348283,-0.0,-0.0,0.0,0.0

In [20]:
# Save
ARIMA_Prediction.to_excel('ARIMA_Prediction_MainModel.xlsx')