In [105]:
import pandas as pd
import numpy as np

In [106]:
# define variables
BATTERY_CAPACITY = 580 # maximum capacity MWH
DISCHARGE_EFFICIENCY = 0.9
CHARGE_EFFICIENCY = 0.9
MARGINAL_LOSS_FACTOR = 0.991
MAX_CAPACITY = 300

In [107]:
# this function takes dataframe name as output of charge/discharge decision
# and preprocess it to match the generate capacity function
# assumes the csv files are in the same folder

def process_csv(df_name):
    df = pd.read_csv(df_name)
    # df = df.iloc[:,[1, 2, 4]] 'uncomment for label.csv'
    # df.columns = ['Time', 'Price', 'Status'] 'uncomment for label.csv'
    df['Status'].replace('Disharge', 'Discharge', inplace=True)
    df['Status'].replace(0, 'Do Nothing', inplace=True)
    df['Status'].replace(1, 'Charge', inplace=True)
    df['Status'].replace(-1, 'Discharge', inplace=True)
    df = df.dropna().reset_index(drop=True)
    return df

In [108]:
# generate_capacity calculates all the columns needed to calculate revenue
# and takes dataframe with columns ['Time', 'Price', 'Status'] as input

def generate_capacity(df):
    
    # initialises variable
    raw_power = 0
    opening_capacity = 0
    closing_capacity = 0
    market_dispatch = 0

    raw_power_s = pd.Series(dtype = float)
    opening_capacity_s = pd.Series(dtype = float)
    closing_capacity_s = pd.Series(dtype = float)
    market_dispatch_s = pd.Series(dtype = float)
    
    status = df['Status']
    for i in df.index:
        # print(i)
        if i == 0: # set opening capacity
            opening_capacity_s.loc[i] = 0
        else: # set opening capacity to previous closing capacity
            opening_capacity = closing_capacity_s.loc[i-1]
            opening_capacity_s.loc[i] = closing_capacity_s.loc[i-1]
        if status[i] == 'Charge':
            raw_power = -min(MAX_CAPACITY, ((int(BATTERY_CAPACITY) - float(opening_capacity_s[i]))/CHARGE_EFFICIENCY) * 2) # 300 is the minimum capacity
            market_dispatch = raw_power / 2
            closing_capacity = max(0, min(opening_capacity_s[i] - market_dispatch * CHARGE_EFFICIENCY, BATTERY_CAPACITY))
            raw_power_s.loc[i] = raw_power
            market_dispatch_s.loc[i] = market_dispatch
            closing_capacity_s.loc[i] = closing_capacity
        elif status[i] == 'Discharge':
            raw_power = min(MAX_CAPACITY, (float(opening_capacity_s[i]) * 2)) ##/ DISCHARGE_EFFICIENCY)
            market_dispatch = raw_power/2 * DISCHARGE_EFFICIENCY
            closing_capacity = max(0, min(opening_capacity_s[i] - (market_dispatch * 1/DISCHARGE_EFFICIENCY), BATTERY_CAPACITY))
            market_dispatch_s.loc[i] = market_dispatch
            closing_capacity_s.loc[i] = closing_capacity
            raw_power_s.loc[i] = raw_power
        else:
            raw_power_s.loc[i] = 0
            market_dispatch_s.loc[i] = 0
            closing_capacity_s.loc[i] = closing_capacity
    
    df['raw power'] = raw_power_s
    df['market dispatch'] = market_dispatch_s
    df['opening capacity'] = opening_capacity_s
    df['closing capacity'] = closing_capacity_s

In [109]:
# calculate_revenue calculates revenue from 2018-2021

def calculate_revenue(df):
    revenue_s = pd.Series(dtype = float)
    for i in df.index:
        if df['market dispatch'].loc[i] < 0:
            revenue_s.loc[i] = df['Price'].loc[i] * df['market dispatch'].loc[i] * (1 / MARGINAL_LOSS_FACTOR)
        else:
            revenue_s.loc[i] = df['Price'].loc[i] * df['market dispatch'].loc[i] * (MARGINAL_LOSS_FACTOR)
            
    df['revenue'] = revenue_s
    return sum(df['revenue'])

## Calculate revenue from data
-- for testing purposes only --

In [15]:
rev = process_csv('rev.csv')
rev

,Unnamed: 0,Time,Price,MA,Status,Dispatch,_merge
0,5,2018-01-01 10:30:00,71.13,70.582571,Discharge,-150.0,left_only
1,6,2018-01-01 11:00:00,74.86,70.514571,Discharge,-150.0,left_only
2,7,2018-01-01 11:30:00,72.45,70.699429,Discharge,-150.0,left_only
3,8,2018-01-01 12:00:00,66.51,71.032571,Charge,135.0,left_only
4,10,2018-01-01 16:00:00,85.27,71.699714,Discharge,135.0,left_only
...,...,...,...,...,...,...,...
28402,29968,2021-12-08 11:30:00,18.56,51.996000,Charge,135.0,left_only
28403,29969,2021-12-08 12:00:00,17.39,54.709143,Charge,135.0,left_only
28404,29970,2021-12-08 12:30:00,5.71,57.652000,Charge,135.0,left_only
28405,29971,2021-12-08 13:00:00,8.95,60.270571,Charge,135.0,left_only
28406,29972,2021-12-08 14:00:00,18.10,64.918857,Charge,135.0,left_only

In [16]:
generate_capacity(rev)

In [17]:
calculate_revenue(rev)

126377425.53897737

### 1

In [92]:
zig10 = process_csv('zig10.csv')
zig10

       Unnamed: 0                 Time  Price      Status
0               0  2018-01-01 00:00:00  90.43  Do Nothing
1               1  2018-01-01 00:30:00  92.46  Do Nothing
2               2  2018-01-01 01:00:00  87.62  Do Nothing
3               3  2018-01-01 01:30:00  73.08  Do Nothing
4               4  2018-01-01 02:00:00  70.18  Do Nothing
...           ...                  ...    ...         ...
63452       63452  2021-08-14 22:00:00  49.93   Discharge
63453       63453  2021-08-14 22:30:00  62.86   Discharge
63454       63454  2021-08-14 23:00:00  32.26   Discharge
63455       63455  2021-08-14 23:30:00  25.10  Do Nothing
63456       63456  2021-08-15 00:00:00   8.73  Do Nothing

[63457 rows x 4 columns]

In [ ]:
generate_capacity(zig10)

In [ ]:
calculate_revenue(zig10)

### 2

In [67]:
zig5 = process_csv('zig5.csv')
zig5

       Unnamed: 0                 Time  Price      Status
0               0  2018-01-01 00:00:00  90.43  Do Nothing
1               1  2018-01-01 00:30:00  92.46  Do Nothing
2               2  2018-01-01 01:00:00  87.62  Do Nothing
3               3  2018-01-01 01:30:00  73.08  Do Nothing
4               4  2018-01-01 02:00:00  70.18      Charge
...           ...                  ...    ...         ...
63452       63452  2021-08-14 22:00:00  49.93   Discharge
63453       63453  2021-08-14 22:30:00  62.86   Discharge
63454       63454  2021-08-14 23:00:00  32.26   Discharge
63455       63455  2021-08-14 23:30:00  25.10   Discharge
63456       63456  2021-08-15 00:00:00   8.73  Do Nothing

[63457 rows x 4 columns]

In [69]:
generate_capacity(zig5)

In [ ]:
calculate_revenue(zig5)

### 3

In [30]:
zigMA = process_csv('zigMA.csv')
zigMA

       Unnamed: 0                 Time  Price      Status
0               0  2018-01-01 00:00:00  90.43  Do Nothing
1               1  2018-01-01 00:30:00  92.46  Do Nothing
2               2  2018-01-01 01:00:00  87.62  Do Nothing
3               3  2018-01-01 01:30:00  73.08  Do Nothing
4               4  2018-01-01 02:00:00  70.18  Do Nothing
...           ...                  ...    ...         ...
63452       63452  2021-08-14 22:00:00  49.93  Do Nothing
63453       63453  2021-08-14 22:30:00  62.86  Do Nothing
63454       63454  2021-08-14 23:00:00  32.26  Do Nothing
63455       63455  2021-08-14 23:30:00  25.10  Do Nothing
63456       63456  2021-08-15 00:00:00   8.73  Do Nothing

[63457 rows x 4 columns]

In [31]:
generate_capacity(zigMA)

In [32]:
calculate_revenue(zigMA)

97421242.97958785

### 4

In [135]:
label = process_csv('label.csv')
label.isna().sum() # check nan values

Time      0
Price     0
Status    0
dtype: int64

In [136]:
generate_capacity(label)

In [137]:
calculate_revenue(label)

24262216.062602937

### 4.1 (sample data to check)

In [127]:
label_sample = label.iloc[0:30]
label_sample = label_sample.dropna().reset_index(drop=True)

In [128]:
generate_capacity(label_sample)

In [129]:
label_sample

,Time,Price,Status,raw power,market dispatch,opening capacity,closing capacity,revenue
0,2018-01-01 00:00:00,90.43,Do Nothing,0.000000,0.000000,0.0,0.0,0.000000
1,2018-01-01 00:30:00,92.46,Do Nothing,0.000000,0.000000,0.0,0.0,0.000000
2,2018-01-01 01:00:00,87.62,Do Nothing,0.000000,0.000000,0.0,0.0,0.000000
3,2018-01-01 01:30:00,73.08,Do Nothing,0.000000,0.000000,0.0,0.0,0.000000
4,2018-01-01 02:00:00,70.18,Do Nothing,0.000000,0.000000,0.0,0.0,0.000000
5,2018-01-01 02:30:00,67.43,Do Nothing,0.000000,0.000000,0.0,0.0,0.000000
6,2018-01-01 03:00:00,66.31,Do Nothing,0.000000,0.000000,0.0,0.0,0.000000
7,2018-01-01 03:30:00,67.72,Do Nothing,0.000000,0.000000,0.0,0.0,0.000000
8,2018-01-01 04:00:00,65.50,Do Nothing,0.000000,0.000000,0.0,0.0,0.000000
9,2018-01-01 04:30:00,64.50,Do Nothing,0.000000,0.000000,0.0,0.0,0.000000
10,2018-01-01 05:00:00,65.41,Charge,-300.000000,-150.000000,0.0,135.0,-9900.605449
11,2018-01-01 05:30:00,63.66,Charge,-300.000000,-150.000000,135.0,270.0,-9635.721493
12,2018-01-01 06:00:00,59.90,Charge,-300.000000,-150.000000,270.0,405.0,-9066.599395
13,2018-01-01 06:30:00,64.67,Charge,-300.000000,-150.000000,405.0,540.0,-9788.597376
14,2018-01-01 07:00:00,66.89,Charge,-88.888889,-44.444444,540.0,580.0,-2999.887880
15,2018-01-01 07:30:00,67.06,Discharge,300.000000,135.000000,580.0,430.0,8971.622100
16,2018-01-01 08:00:00,67.49,Discharge,300.000000,135.000000,430.0,280.0,9029.149650
17,2018-01-01 08:30:00,67.12,Discharge,300.000000,135.000000,280.0,130.0,8979.649200
18,2018-01-01 09:00:00,67.47,Discharge,288.888889,130.000000,130.0,0.0,8692.160100
19,2018-01-01 09:30:00,71.02,Discharge,0.000000,0.000000,0.0,0.0,0.000000
20,2018-01-01 12:00:00,66.51,Charge,-300.000000,-150.000000,0.0,135.0,-10067.103935
21,2018-01-01 12:30:00,64.77,Charge,-300.000000,-150.000000,135.0,270.0,-9803.733602
22,2018-01-01 13:00:00,70.02,Charge,-300.000000,-150.000000,270.0,405.0,-10598.385469
23,2018-01-01 13:30:00,76.04,Charge,-300.000000,-150.000000,405.0,540.0,-11509.586276
24,2018-01-01 14:00:00,76.80,Charge,-88.888889,-44.444444,540.0,580.0,-3444.332324
25,2018-01-01 14:30:00,76.77,Do Nothing,0.000000,0.000000,580.0,580.0,0.000000
26,2018-01-01 15:00:00,73.21,Discharge,300.000000,135.000000,580.0,430.0,9794.399850
27,2018-01-01 15:30:00,78.59,Discharge,300.000000,135.000000,430.0,280.0,10514.163150
28,2018-01-01 16:00:00,85.27,Discharge,300.000000,135.000000,280.0,130.0,11407.846950
29,2018-01-01 16:30:00,80.80,Discharge,288.888889,130.000000,130.0,0.0,10409.464000

## 5

In [141]:
count = process_csv('count.csv')
count.isna().sum() # check nan values

Time      0
Price     0
Status    0
dtype: int64

In [139]:
count

                      Time  Price      Status
0      2018-01-01 00:00:00  90.43  Do Nothing
1      2018-01-01 00:30:00  92.46  Do Nothing
2      2018-01-01 01:00:00  87.62  Do Nothing
3      2018-01-01 01:30:00  73.08  Do Nothing
4      2018-01-01 02:00:00  70.18  Do Nothing
...                    ...    ...         ...
61291  2021-06-30 21:30:00  65.79      Charge
61292  2021-06-30 22:00:00  92.52      Charge
61293  2021-06-30 22:30:00  67.46      Charge
61294  2021-06-30 23:00:00  60.16  Do Nothing
61295  2021-06-30 23:30:00  73.85  Do Nothing

[61296 rows x 3 columns]

In [142]:
generate_capacity(count)

In [143]:
calculate_revenue(count)

17074123.446428295

## 6

In [147]:
MA15 = process_csv('MA15-ZZ102.csv')
MA15

       Unnamed: 0                 Time   Price      Status
0               0  2018-01-01 00:00:00   90.43  Do Nothing
1               1  2018-01-01 00:30:00   92.46  Do Nothing
2               2  2018-01-01 01:00:00   87.62  Do Nothing
3               3  2018-01-01 01:30:00   73.08  Do Nothing
4               4  2018-01-01 02:00:00   70.18  Do Nothing
...           ...                  ...     ...         ...
63452       63452  2021-12-08 21:30:00   81.98  Do Nothing
63453       63453  2021-12-08 22:00:00   71.77  Do Nothing
63454       63454  2021-12-08 22:30:00  100.04  Do Nothing
63455       63455  2021-12-08 23:00:00   81.22  Do Nothing
63456       63456  2021-12-08 23:30:00   73.99  Do Nothing

[63457 rows x 4 columns]

In [ ]:
generate_capacity(MA15)

In [ ]:
calculate_revenue(MA15)

## 6

In [210]:
MA2017 = process_csv('check3rev.csv')
MA2017

                      Time   Price      Status
0      2018-01-01 00:00:00   90.43  Do Nothing
1      2018-01-01 00:30:00   92.46  Do Nothing
2      2018-01-01 01:00:00   87.62  Do Nothing
3      2018-01-01 01:30:00   73.08  Do Nothing
4      2018-01-01 02:00:00   70.18  Do Nothing
...                    ...     ...         ...
63452  2021-12-08 21:30:00   81.98  Do Nothing
63453  2021-12-08 22:00:00   71.77  Do Nothing
63454  2021-12-08 22:30:00  100.04  Do Nothing
63455  2021-12-08 23:00:00   81.22  Do Nothing
63456  2021-12-08 23:30:00   73.99  Do Nothing

[63457 rows x 3 columns]

In [211]:
MA2017.to_csv('check3rev.csv')

In [212]:
MA2017

                      Time   Price      Status
0      2018-01-01 00:00:00   90.43  Do Nothing
1      2018-01-01 00:30:00   92.46  Do Nothing
2      2018-01-01 01:00:00   87.62  Do Nothing
3      2018-01-01 01:30:00   73.08  Do Nothing
4      2018-01-01 02:00:00   70.18  Do Nothing
...                    ...     ...         ...
63452  2021-12-08 21:30:00   81.98  Do Nothing
63453  2021-12-08 22:00:00   71.77  Do Nothing
63454  2021-12-08 22:30:00  100.04  Do Nothing
63455  2021-12-08 23:00:00   81.22  Do Nothing
63456  2021-12-08 23:30:00   73.99  Do Nothing

[63457 rows x 3 columns]

In [213]:
MA2017_1 = MA2017.loc[(MA2017['Time'] >= '2020-07-17 00:30:00') & (MA2017['Time'] <= '2020-07-18 00:00:00')].reset_index(drop=True)

In [214]:
MA2017_1

                   Time   Price      Status
0   2020-07-17 00:30:00   75.51   Discharge
1   2020-07-17 01:00:00   73.98  Do Nothing
2   2020-07-17 01:30:00   75.57  Do Nothing
3   2020-07-17 02:00:00   71.94  Do Nothing
4   2020-07-17 02:30:00   74.10  Do Nothing
5   2020-07-17 03:00:00   67.36      Charge
6   2020-07-17 03:30:00   58.04      Charge
7   2020-07-17 04:00:00   51.85      Charge
8   2020-07-17 04:30:00   74.53      Charge
9   2020-07-17 05:00:00   67.32      Charge
10  2020-07-17 05:30:00   69.14  Do Nothing
11  2020-07-17 06:00:00   64.99  Do Nothing
12  2020-07-17 06:30:00   65.35  Do Nothing
13  2020-07-17 07:00:00   76.16  Do Nothing
14  2020-07-17 07:30:00   79.41   Discharge
15  2020-07-17 08:00:00   83.26   Discharge
16  2020-07-17 08:30:00  153.81   Discharge
17  2020-07-17 09:00:00   93.68   Discharge
18  2020-07-17 09:30:00   72.65      Charge
19  2020-07-17 10:00:00   71.66      Charge
20  2020-07-17 10:30:00  110.29   Discharge
21  2020-07-17 11:00:00   72.70   Discharge
22  2020-07-17 11:30:00   76.14  Do Nothing
23  2020-07-17 12:00:00   63.20      Charge
24  2020-07-17 12:30:00   71.71   Discharge
25  2020-07-17 13:00:00   67.72  Do Nothing
26  2020-07-17 13:30:00   46.23      Charge
27  2020-07-17 14:00:00   39.75      Charge
28  2020-07-17 14:30:00   39.94      Charge
29  2020-07-17 15:00:00   39.97      Charge
30  2020-07-17 15:30:00   42.72  Do Nothing
31  2020-07-17 16:00:00   55.85  Do Nothing
32  2020-07-17 16:30:00   66.67  Do Nothing
33  2020-07-17 17:00:00   71.83   Discharge
34  2020-07-17 17:30:00   73.94   Discharge
35  2020-07-17 18:00:00  163.47   Discharge
36  2020-07-17 18:30:00  137.10   Discharge
37  2020-07-17 19:00:00   73.85   Discharge
38  2020-07-17 19:30:00   72.12  Do Nothing
39  2020-07-17 20:00:00   67.65  Do Nothing
40  2020-07-17 20:30:00   73.96  Do Nothing
41  2020-07-17 21:00:00   59.97  Do Nothing
42  2020-07-17 21:30:00   58.53  Do Nothing
43  2020-07-17 22:00:00   57.89  Do Nothing
44  2020-07-17 22:30:00   56.54  Do Nothing
45  2020-07-17 23:00:00   48.70  Do Nothing
46  2020-07-17 23:30:00   49.60  Do Nothing
47  2020-07-18 00:00:00   52.77  Do Nothing

In [215]:
generate_capacity(MA2017_1)

In [216]:
calculate_revenue(MA2017_1)

43355.217125731586

In [217]:
pd.set_option('display.max_rows', MA2017.shape[0]+1)

## 7

In [6]:
MAdf_df2 = process_csv('MAdf_df2.csv')

In [7]:
MAdf_df2

        Unnamed: 0                 Time  Price      Status
0                0  2018-01-01 00:00:00  90.43  Do Nothing
1                1  2018-01-01 00:00:00  90.43  Do Nothing
2                2  2018-01-01 00:30:00  92.46  Do Nothing
3                3  2018-01-01 01:00:00  87.62  Do Nothing
4                4  2018-01-01 01:30:00  73.08  Do Nothing
...            ...                  ...    ...         ...
105697      105697  2021-08-14 22:30:00  62.86  Do Nothing
105698      105698  2021-08-14 22:30:00  62.86  Do Nothing
105699      105699  2021-08-14 23:00:00  32.26  Do Nothing
105700      105700  2021-08-14 23:30:00  25.10  Do Nothing
105701      105701  2021-08-15 00:00:00   8.73  Do Nothing

[105702 rows x 4 columns]

In [8]:
generate_capacity(MAdf_df2)

In [10]:
calculate_revenue(MAdf_df2)

93527563.81686416

## 8

In [12]:
MAdf_df3 = process_csv('MAdf_df3.csv')

In [13]:
generate_capacity(MAdf_df3)

In [14]:
calculate_revenue(MAdf_df3)

78730337.5804051

## 9

In [6]:
final = process_csv('adrenaline.csv')

In [7]:
final

                      Time   Price      Status  Dispatch    mrf  Revenue
0      2018-01-01 00:00:00   90.43  Do Nothing       0.0  0.991      0.0
1      2018-01-01 00:30:00   92.46  Do Nothing       0.0  0.991      0.0
2      2018-01-01 01:00:00   87.62  Do Nothing       0.0  0.991      0.0
3      2018-01-01 01:30:00   73.08  Do Nothing       0.0  0.991      0.0
4      2018-01-01 02:00:00   70.18  Do Nothing       0.0  0.991      0.0
...                    ...     ...         ...       ...    ...      ...
36397  2021-12-08 21:30:00   81.98  Do Nothing       0.0  0.991      0.0
36398  2021-12-08 22:00:00   71.77  Do Nothing       0.0  0.991      0.0
36399  2021-12-08 22:30:00  100.04  Do Nothing       0.0  0.991      0.0
36400  2021-12-08 23:00:00   81.22  Do Nothing       0.0  0.991      0.0
36401  2021-12-08 23:30:00   73.99  Do Nothing       0.0  0.991      0.0

[36402 rows x 6 columns]

In [8]:
generate_capacity(final)

In [9]:
calculate_revenue(final)

119307884.10011975

In [11]:
final.head(50)

,Time,Price,Status,Dispatch,mrf,Revenue,raw power,market dispatch,opening capacity,closing capacity,revenue
0,2018-01-01 00:00:00,90.43,Do Nothing,0.000000,0.991,0.000000,0.000000,0.000000,0.0,0.0,0.000000
1,2018-01-01 00:30:00,92.46,Do Nothing,0.000000,0.991,0.000000,0.000000,0.000000,0.0,0.0,0.000000
2,2018-01-01 01:00:00,87.62,Do Nothing,0.000000,0.991,0.000000,0.000000,0.000000,0.0,0.0,0.000000
3,2018-01-01 01:30:00,73.08,Do Nothing,0.000000,0.991,0.000000,0.000000,0.000000,0.0,0.0,0.000000
4,2018-01-01 02:00:00,70.18,Do Nothing,0.000000,0.991,0.000000,0.000000,0.000000,0.0,0.0,0.000000
5,2018-01-01 02:30:00,67.43,Do Nothing,0.000000,0.991,0.000000,0.000000,0.000000,0.0,0.0,0.000000
6,2018-01-01 03:00:00,66.31,Do Nothing,0.000000,0.991,0.000000,0.000000,0.000000,0.0,0.0,0.000000
7,2018-01-01 03:30:00,67.72,Do Nothing,0.000000,0.991,0.000000,0.000000,0.000000,0.0,0.0,0.000000
8,2018-01-01 04:00:00,65.50,Do Nothing,0.000000,0.991,0.000000,0.000000,0.000000,0.0,0.0,0.000000
9,2018-01-01 04:30:00,64.50,Do Nothing,0.000000,0.991,0.000000,0.000000,0.000000,0.0,0.0,0.000000
10,2018-01-01 05:00:00,65.41,Do Nothing,0.000000,0.991,0.000000,0.000000,0.000000,0.0,0.0,0.000000
11,2018-01-01 05:30:00,63.66,Do Nothing,0.000000,0.991,0.000000,0.000000,0.000000,0.0,0.0,0.000000
12,2018-01-01 06:00:00,59.90,Do Nothing,0.000000,0.991,0.000000,0.000000,0.000000,0.0,0.0,0.000000
13,2018-01-01 06:30:00,64.67,Do Nothing,0.000000,0.991,0.000000,0.000000,0.000000,0.0,0.0,0.000000
14,2018-01-01 07:00:00,66.89,Do Nothing,0.000000,0.991,0.000000,0.000000,0.000000,0.0,0.0,0.000000
15,2018-01-01 07:30:00,67.06,Charge,-150.000000,0.991,-9968.469000,-300.000000,-150.000000,0.0,135.0,-10150.353179
16,2018-01-01 08:00:00,67.49,Charge,-150.000000,0.991,-10032.388500,-300.000000,-150.000000,135.0,270.0,-10215.438951
17,2018-01-01 08:30:00,67.12,Charge,-150.000000,0.991,-9977.388000,-300.000000,-150.000000,270.0,405.0,-10159.434914
18,2018-01-01 09:00:00,67.47,Charge,-150.000000,0.991,-10029.415500,-300.000000,-150.000000,405.0,540.0,-10212.411705
19,2018-01-01 09:30:00,71.02,Discharge,-0.000000,0.991,-0.000000,300.000000,135.000000,540.0,390.0,9501.410700
20,2018-01-01 10:00:00,71.08,Discharge,81.000000,0.991,5705.662680,300.000000,135.000000,390.0,240.0,9509.437800
21,2018-01-01 10:30:00,71.13,Discharge,135.000000,0.991,9516.127050,300.000000,135.000000,240.0,90.0,9516.127050
22,2018-01-01 11:00:00,74.86,Discharge,135.000000,0.991,10015.145100,200.000000,90.000000,90.0,0.0,6676.763400
23,2018-01-01 11:30:00,72.45,Discharge,135.000000,0.991,9692.723250,0.000000,0.000000,0.0,0.0,0.000000
24,2018-01-01 12:00:00,66.51,Charge,-150.000000,0.991,-9886.711500,-300.000000,-150.000000,0.0,135.0,-10067.103935
25,2018-01-01 12:30:00,64.77,Charge,-150.000000,0.991,-9628.060500,-300.000000,-150.000000,135.0,270.0,-9803.733602
26,2018-01-01 13:00:00,70.02,Charge,-150.000000,0.991,-10408.473000,-300.000000,-150.000000,270.0,405.0,-10598.385469
27,2018-01-01 14:00:00,76.80,Discharge,-0.000000,0.991,-0.000000,300.000000,135.000000,405.0,255.0,10274.688000
28,2018-01-01 15:30:00,78.59,Discharge,-0.000000,0.991,-0.000000,300.000000,135.000000,255.0,105.0,10514.163150
29,2018-01-01 16:00:00,85.27,Discharge,135.000000,0.991,11407.846950,233.333333,105.000000,105.0,0.0,8872.769850
30,2018-01-01 16:30:00,80.80,Discharge,94.500000,0.991,7566.879600,0.000000,0.000000,0.0,0.0,0.000000
31,2018-01-01 17:00:00,81.76,Discharge,135.000000,0.991,10938.261600,0.000000,0.000000,0.0,0.0,0.000000
32,2018-01-01 18:30:00,68.77,Charge,-150.000000,0.991,-10222.660500,-300.000000,-150.000000,0.0,135.0,-10409.182644
33,2018-01-01 19:00:00,70.64,Discharge,121.500000,0.991,8505.515160,300.000000,135.000000,135.0,0.0,9450.572400
34,2018-01-01 19:30:00,67.80,Charge,-150.000000,0.991,-10078.470000,-300.000000,-150.000000,0.0,135.0,-10262.361251
35,2018-01-01 20:00:00,73.90,Discharge,-0.000000,0.991,-0.000000,300.000000,135.000000,135.0,0.0,9886.711500
36,2018-01-01 20:30:00,77.97,Discharge,121.500000,0.991,9388.094805,0.000000,0.000000,0.0,0.0,0.000000
37,2018-01-01 21:00:00,70.04,Discharge,-0.000000,0.991,-0.000000,0.000000,0.000000,0.0,0.0,0.000000
38,2018-01-01 21:30:00,71.25,Discharge,-0.000000,0.991,-0.000000,0.000000,0.000000,0.0,0.0,0.000000
39,2018-01-01 22:00:00,66.06,Charge,-150.000000,0.991,-9819.819000,-300.000000,-150.000000,0.0,135.0,-9998.990918
40,2018-01-01 22:30:00,64.77,Charge,-150.000000,0.991,-9628.060500,-300.000000,-150.000000,135.0,270.0,-9803.733602
41,2018-01-01 23:00:00,61.09,Charge,-150.000000,0.991,-9081.028500,-300.000000,-150.000000,270.0,405.0,-9246.720484
42,2018-01-01 23:30:00,63.55,Charge,-150.000000,0.991,-9446.707500,-300.000000,-150.000000,405.0,540.0,-9619.071645
43,2018-01-02 00:00:00,75.00,Discharge,135.000000,0.991,10033.875000,300.000000,135.000000,540.0,390.0,10033.875000
44,2018-01-02 00:30:00,69.84,Discharge,135.000000,0.991,9343.544400,300.000000,135.000000,390.0,240.0,9343.544400
45,2018-01-02 02:00:00,51.62,Charge,-150.000000,0.991,-7673.313000,-300.000000,-150.000000,240.0,375.0,-7813.319879
46,2018-01-02 02:30:00,54.78,Charge,-150.000000,0.991,-8143.047000,-300.000000,-150.000000,375.0,510.0,-8291.624622
47,2018-01-02 03:00:00,56.93,Charge,-0.000000,0.991,-0.000000,-155.555556,-77.777778,510.0,580.0,-4468.101805
48,2018-01-02 04:00:00,56.63,Charge,-0.000000,0.991,-0.000000,-0.000000,-0.000000,580.0,580.0,-0.000000
49,2018-01-02 04:30:00,55.99,Charge,-77.777778,0.991,-4315.584778,-0.000000,-0.000000,580.0,580.0,-0.000000

## 10

In [18]:
inter = process_csv('inter.csv')

In [19]:
inter

       Unnamed: 0                 Time   Price      Status
0               0  2018-01-01 00:00:00   90.43  Do Nothing
1               1  2018-01-01 00:30:00   92.46  Do Nothing
2               2  2018-01-01 01:00:00   87.62  Do Nothing
3               3  2018-01-01 01:30:00   73.08  Do Nothing
4               4  2018-01-01 02:00:00   70.18  Do Nothing
...           ...                  ...     ...         ...
63452       63452  2021-12-08 21:30:00   81.98  Do Nothing
63453       63453  2021-12-08 22:00:00   71.77  Do Nothing
63454       63454  2021-12-08 22:30:00  100.04  Do Nothing
63455       63455  2021-12-08 23:00:00   81.22  Do Nothing
63456       63456  2021-12-08 23:30:00   73.99  Do Nothing

[63457 rows x 4 columns]

In [20]:
generate_capacity(inter)

In [21]:
calculate_revenue(inter)

33347095.390472963

## 11

In [22]:
inter = process_csv('Z.csv')

In [23]:
generate_capacity(inter)

In [24]:
calculate_revenue(inter)

-79584581.9375124

In [26]:
inter.head(50)

,Time,Price,Status,raw power,market dispatch,opening capacity,closing capacity,revenue
0,2018-01-01 00:00:00,90.43,Do Nothing,0.0,0.0,0.0,0.0,0.000000
1,2018-01-01 00:30:00,92.46,Do Nothing,0.0,0.0,0.0,0.0,0.000000
2,2018-01-01 01:00:00,87.62,Do Nothing,0.0,0.0,0.0,0.0,0.000000
3,2018-01-01 01:30:00,73.08,Do Nothing,0.0,0.0,0.0,0.0,0.000000
4,2018-01-01 02:00:00,70.18,Do Nothing,0.0,0.0,0.0,0.0,0.000000
5,2018-01-01 02:30:00,67.43,Do Nothing,0.0,0.0,0.0,0.0,0.000000
6,2018-01-01 03:00:00,66.31,Do Nothing,0.0,0.0,0.0,0.0,0.000000
7,2018-01-01 03:30:00,67.72,Do Nothing,0.0,0.0,0.0,0.0,0.000000
8,2018-01-01 04:00:00,65.50,Do Nothing,0.0,0.0,0.0,0.0,0.000000
9,2018-01-01 04:30:00,64.50,Do Nothing,0.0,0.0,0.0,0.0,0.000000
10,2018-01-01 05:00:00,65.41,Do Nothing,0.0,0.0,0.0,0.0,0.000000
11,2018-01-01 05:30:00,63.66,Do Nothing,0.0,0.0,0.0,0.0,0.000000
12,2018-01-01 06:00:00,59.90,Do Nothing,0.0,0.0,0.0,0.0,0.000000
13,2018-01-01 06:30:00,64.67,Do Nothing,0.0,0.0,0.0,0.0,0.000000
14,2018-01-01 07:00:00,66.89,Do Nothing,0.0,0.0,0.0,0.0,0.000000
15,2018-01-01 07:30:00,67.06,Do Nothing,0.0,0.0,0.0,0.0,0.000000
16,2018-01-01 08:00:00,67.49,Do Nothing,0.0,0.0,0.0,0.0,0.000000
17,2018-01-01 08:30:00,67.12,Discharge,0.0,0.0,0.0,0.0,0.000000
18,2018-01-01 09:00:00,67.47,Discharge,0.0,0.0,0.0,0.0,0.000000
19,2018-01-01 09:30:00,71.02,Discharge,0.0,0.0,0.0,0.0,0.000000
20,2018-01-01 10:00:00,71.08,Discharge,0.0,0.0,0.0,0.0,0.000000
21,2018-01-01 10:30:00,71.13,Discharge,0.0,0.0,0.0,0.0,0.000000
22,2018-01-01 11:00:00,74.86,Charge,-300.0,-150.0,0.0,135.0,-11330.978809
23,2018-01-01 11:30:00,72.45,Discharge,300.0,135.0,135.0,0.0,9692.723250
24,2018-01-01 12:00:00,66.51,Discharge,0.0,0.0,0.0,0.0,0.000000
25,2018-01-01 12:30:00,64.77,Discharge,0.0,0.0,0.0,0.0,0.000000
26,2018-01-01 13:00:00,70.02,Discharge,0.0,0.0,0.0,0.0,0.000000
27,2018-01-01 13:30:00,76.04,Charge,-300.0,-150.0,0.0,135.0,-11509.586276
28,2018-01-01 14:00:00,76.80,Discharge,300.0,135.0,135.0,0.0,10274.688000
29,2018-01-01 14:30:00,76.77,Discharge,0.0,0.0,0.0,0.0,0.000000
30,2018-01-01 15:00:00,73.21,Discharge,0.0,0.0,0.0,0.0,0.000000
31,2018-01-01 15:30:00,78.59,Discharge,0.0,0.0,0.0,0.0,0.000000
32,2018-01-01 16:00:00,85.27,Charge,-300.0,-150.0,0.0,135.0,-12906.659939
33,2018-01-01 16:30:00,80.80,Discharge,300.0,135.0,135.0,0.0,10809.828000
34,2018-01-01 17:00:00,81.76,Discharge,0.0,0.0,0.0,0.0,0.000000
35,2018-01-01 17:30:00,75.14,Discharge,0.0,0.0,0.0,0.0,0.000000
36,2018-01-01 18:00:00,73.45,Discharge,0.0,0.0,0.0,0.0,0.000000
37,2018-01-01 18:30:00,68.77,Discharge,0.0,0.0,0.0,0.0,0.000000
38,2018-01-01 19:00:00,70.64,Discharge,0.0,0.0,0.0,0.0,0.000000
39,2018-01-01 19:30:00,67.80,Discharge,0.0,0.0,0.0,0.0,0.000000
40,2018-01-01 20:00:00,73.90,Discharge,0.0,0.0,0.0,0.0,0.000000
41,2018-01-01 20:30:00,77.97,Charge,-300.0,-150.0,0.0,135.0,-11801.715439
42,2018-01-01 21:00:00,70.04,Discharge,300.0,135.0,135.0,0.0,9370.301400
43,2018-01-01 21:30:00,71.25,Discharge,0.0,0.0,0.0,0.0,0.000000
44,2018-01-01 22:00:00,66.06,Discharge,0.0,0.0,0.0,0.0,0.000000
45,2018-01-01 22:30:00,64.77,Discharge,0.0,0.0,0.0,0.0,0.000000
46,2018-01-01 23:00:00,61.09,Discharge,0.0,0.0,0.0,0.0,0.000000
47,2018-01-01 23:30:00,63.55,Discharge,0.0,0.0,0.0,0.0,0.000000
48,2018-01-02 00:00:00,75.00,Charge,-300.0,-150.0,0.0,135.0,-11352.169526
49,2018-01-02 00:30:00,69.84,Discharge,300.0,135.0,135.0,0.0,9343.544400

## 12

In [27]:
old = process_csv('OldZ.csv')

In [28]:
generate_capacity(old)

In [29]:
calculate_revenue(old)

46330853.385665014

In [6]:
a = pd.read_excel('Victoria_data.xlsx')

In [8]:
a.head(50)

,Time (UTC+10),period,Regions VIC Trading Price ($/MWh),Raw Power (MW),Market Dispatch (MWh),Opening Capacity (MWh),Closing Capacity (MWh),Revenue,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2018-01-01 00:30:00,1,92.46,0.000000,0.000000,0,0,0.000000,NaN,Period,Revenue
1,2018-01-01 01:00:00,2,87.62,0.000000,0.000000,0,0,0.000000,NaN,Training,1.19778e+08
2,2018-01-01 01:30:00,3,73.08,0.000000,0.000000,0,0,0.000000,NaN,Testing,5.78041e+06
3,2018-01-01 02:00:00,4,70.18,0.000000,0.000000,0,0,0.000000,NaN,Total,1.25558e+08
4,2018-01-01 02:30:00,5,67.43,0.000000,0.000000,0,0,0.000000,NaN,NaN,NaN
5,2018-01-01 03:00:00,6,66.31,0.000000,0.000000,0,0,0.000000,NaN,NaN,NaN
6,2018-01-01 03:30:00,7,67.72,0.000000,0.000000,0,0,0.000000,NaN,NaN,NaN
7,2018-01-01 04:00:00,8,65.50,0.000000,0.000000,0,0,0.000000,NaN,NaN,NaN
8,2018-01-01 04:30:00,9,64.50,-300.000000,-150.000000,0,135,-9762.865792,NaN,NaN,NaN
9,2018-01-01 05:00:00,10,65.41,0.000000,0.000000,0,0,0.000000,NaN,NaN,NaN
10,2018-01-01 05:30:00,11,63.66,-300.000000,-150.000000,135,270,-9635.721493,NaN,NaN,NaN
11,2018-01-01 06:00:00,12,59.90,-300.000000,-150.000000,270,405,-9066.599395,NaN,NaN,NaN
12,2018-01-01 06:30:00,13,64.67,-66.666667,-33.333333,405,435,-2175.243861,NaN,NaN,NaN
13,2018-01-01 07:00:00,14,66.89,0.000000,0.000000,435,435,0.000000,NaN,NaN,NaN
14,2018-01-01 07:30:00,15,67.06,0.000000,0.000000,435,435,0.000000,NaN,NaN,NaN
15,2018-01-01 08:00:00,16,67.49,0.000000,0.000000,435,435,0.000000,NaN,NaN,NaN
16,2018-01-01 08:30:00,17,67.12,0.000000,0.000000,435,435,0.000000,NaN,NaN,NaN
17,2018-01-01 09:00:00,18,67.47,0.000000,0.000000,435,435,0.000000,NaN,NaN,NaN
18,2018-01-01 09:30:00,19,71.02,0.000000,0.000000,435,435,0.000000,NaN,NaN,NaN
19,2018-01-01 10:00:00,20,71.08,0.000000,0.000000,435,435,0.000000,NaN,NaN,NaN
20,2018-01-01 10:30:00,21,71.13,0.000000,0.000000,435,435,0.000000,NaN,NaN,NaN
21,2018-01-01 11:00:00,22,74.86,0.000000,0.000000,435,435,0.000000,NaN,NaN,NaN
22,2018-01-01 11:30:00,23,72.45,0.000000,0.000000,435,435,0.000000,NaN,NaN,NaN
23,2018-01-01 12:00:00,24,66.51,0.000000,0.000000,435,435,0.000000,NaN,NaN,NaN
24,2018-01-01 12:30:00,25,64.77,0.000000,0.000000,435,435,0.000000,NaN,NaN,NaN
25,2018-01-01 13:00:00,26,70.02,0.000000,0.000000,435,435,0.000000,NaN,NaN,NaN
26,2018-01-01 13:30:00,27,76.04,0.000000,0.000000,435,435,0.000000,NaN,NaN,NaN
27,2018-01-01 14:00:00,28,76.80,0.000000,0.000000,435,435,0.000000,NaN,NaN,NaN
28,2018-01-01 14:30:00,29,76.77,0.000000,0.000000,435,435,0.000000,NaN,NaN,NaN
29,2018-01-01 15:00:00,30,73.21,0.000000,0.000000,435,435,0.000000,NaN,NaN,NaN
30,2018-01-01 15:30:00,31,78.59,0.000000,0.000000,435,435,0.000000,NaN,NaN,NaN
31,2018-01-01 16:00:00,32,85.27,300.000000,135.000000,435,285,11407.846950,NaN,NaN,NaN
32,2018-01-01 16:30:00,33,80.80,300.000000,135.000000,285,135,10809.828000,NaN,NaN,NaN
33,2018-01-01 17:00:00,34,81.76,300.000000,135.000000,135,0,10938.261600,NaN,NaN,NaN
34,2018-01-01 17:30:00,35,75.14,0.000000,0.000000,0,0,0.000000,NaN,NaN,NaN
35,2018-01-01 18:00:00,36,73.45,0.000000,0.000000,0,0,0.000000,NaN,NaN,NaN
36,2018-01-01 18:30:00,37,68.77,0.000000,0.000000,0,0,0.000000,NaN,NaN,NaN
37,2018-01-01 19:00:00,38,70.64,0.000000,0.000000,0,0,0.000000,NaN,NaN,NaN
38,2018-01-01 19:30:00,39,67.80,0.000000,0.000000,0,0,0.000000,NaN,NaN,NaN
39,2018-01-01 20:00:00,40,73.90,0.000000,0.000000,0,0,0.000000,NaN,NaN,NaN
40,2018-01-01 20:30:00,41,77.97,0.000000,0.000000,0,0,0.000000,NaN,NaN,NaN
41,2018-01-01 21:00:00,42,70.04,0.000000,0.000000,0,0,0.000000,NaN,NaN,NaN
42,2018-01-01 21:30:00,43,71.25,0.000000,0.000000,0,0,0.000000,NaN,NaN,NaN
43,2018-01-01 22:00:00,44,66.06,0.000000,0.000000,0,0,0.000000,NaN,NaN,NaN
44,2018-01-01 22:30:00,45,64.77,0.000000,0.000000,0,0,0.000000,NaN,NaN,NaN
45,2018-01-01 23:00:00,46,61.09,0.000000,0.000000,0,0,0.000000,NaN,NaN,NaN
46,2018-01-01 23:30:00,47,63.55,0.000000,0.000000,0,0,0.000000,NaN,NaN,NaN
47,2018-01-02 00:00:00,48,60.31,0.000000,0.000000,0,0,0.000000,NaN,NaN,NaN
48,2018-01-02 00:30:00,1,57.33,0.000000,0.000000,0,0,0.000000,NaN,NaN,NaN
49,2018-01-02 01:00:00,2,56.32,0.000000,0.000000,0,0,0.000000,NaN,NaN,NaN