In [9]:
import pandas as pd
from PeriodMaximisation import renameColumns, getTimePeriod, DependencyOptimisation

In [10]:
def computeRawPower(dataframe):
    tmp_df = dataframe.copy()
    tmp_df['Efficiency'] = 0
    tmp_df.loc[tmp_df['Actual'] > 0, 'Efficiency'] = 2 / 0.9
    tmp_df.loc[tmp_df['Actual'] < 0, 'Efficiency'] = 2
    tmp_df['Raw Power'] = tmp_df['Efficiency'] * tmp_df['Actual']
    dataframe['Raw Power'] = tmp_df['Raw Power']
    return dataframe

In [13]:
SM = pd.read_excel("../../preprocessed_data/First Algorithm/SM.xlsx")
SM = computeRawPower(SM)
SM = SM[['Time', 'Price', 'Raw Power', 'Actual', 'Opening Capacity', 'Closing Capacity']]
SM = renameColumns(SM)

In [15]:
test = SM.head(1500).copy()
timePeriod = getTimePeriod(test)
output = DependencyOptimisation(test, timePeriod)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

In [16]:
output

,Time (UTC+10),Regions VIC Trading Price ($/MWh),Raw Power (MW),Market Dispatch (MWh),Opening Capacity (MWh),Closing Capacity (MWh)
0,2018-01-01 00:30:00,92.46,0.0,0.0,0.0,0.0
1,2018-01-01 01:00:00,87.62,0.0,0.0,0.0,0.0
2,2018-01-01 01:30:00,73.08,0.0,0.0,0.0,0.0
3,2018-01-01 02:00:00,70.18,0.0,0.0,0.0,0.0
4,2018-01-01 02:30:00,67.43,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...
1495,2018-02-01 04:00:00,56.63,NaN,NaN,NaN,NaN
1496,2018-02-01 04:30:00,55.99,NaN,NaN,NaN,NaN
1497,2018-02-01 05:00:00,58.74,NaN,NaN,NaN,NaN
1498,2018-02-01 05:30:00,68.53,NaN,NaN,NaN,NaN
1499,2018-02-01 06:00:00,82.76,NaN,NaN,NaN,NaN